<div class="container" *ngIf="post">
  <br>
    <h1> Yeni Yazı Ekle </h1>
  <br>
  <form #form="ngForm"(ngSubmit)="onSubmit()"  >
   <div class="mb-3">
      <label  class="form-label">Başlık</label>
      <input type="text" class="form-control" name="title"[(ngModel)]="post.title">
    </div>
    <div class="mb-3">
      <label  class="form-label">İçerik</label>
      <textarea  class="form-control" name="content"[(ngModel)]="post.context"></textarea>
    </div>
    <div class="mb-3">
      <label  class="form-label">İçerik Özeti</label>
      <textarea  class="form-control" name="summary"[(ngModel)]="post.sunmary"></textarea>
    </div>
    <div class="mb-3">
      <label  class="form-label">Fotoğraf</label>
      <input  class="form-control" name="featuredImageUrl"[(ngModel)]="post.featuredImageUrl">
    </div>
    <div class="mb-3">
      <label  class="form-label">Fotoğraf</label>
      <input  class="form-control" name="featuredImageUrl"[(ngModel)]="post.featuredImageUrl">
    </div>
    <div class="mb-3">
      <label  class="form-label">Yazar</label>
      <input  class="form-control" name="aouthor"[(ngModel)]="post.author">
    </div>
    <div class="mb-3">
      <label  class="form-label">Url Handle</label>
      <input  class="form-control" name="urlhandle"[(ngModel)]="post.urlHandle">
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" name="visible"[(ngModel)]="post.visible">
      <label class="form-check-label">
        Aktif
      </label>
    </div>
    <div class="mb-3">
      <label  class="form-label">Paylaşım Tarihi</label>
      <input  class="form-control" name="publishDate"[(ngModel)]="post.publishDate">
    </div>
    <div class="mb-3">
      <label  class="form-label">Güncelleme Tarihi</label>
      <input  class="form-control" name="updateDate"[(ngModel)]="post.updatedDate">
    </div>
    <div class="mb-3">
      <button class="btn btn-primary">Yayınla</button>
    </div>
  </form>
</div>
